{{#> layout }}
  {{#*inline "content"}}
    <div class="row mb-2">
        <h1>tu perfil estara proximanete<!-- veer conficion para quue diga admin o ussr --></h1>
    </div>
  {{/inline}}
{{/layout}}
