<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
        <meta name="author" content="eNeXTi Ingeniería">

        <!-- App Favicon -->
        <link rel="shortcut icon" href="assets/images/favicon.ico">
        
        <!-- App title -->
        <title>Uplon - Responsive Admin Dashboard Template</title>

        {{> styles }}

    </head>

    <body>

        {{> navbar }}

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="wrapper">
            <div class="container">

                {{> breadcrumb }}

                {{> content }}

            </div> <!-- container -->

            {{> sidebar }}

        </div> <!-- End wrapper -->
        {{> footer}}
        {{> scripts}}

    </body>
</html>